---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Hay un futuro para ti" id="intro">
  <img slot="eyebrow" src="logo.png" class="h-32" />
  <Fragment slot="lead">
    Nuevos tiempos necesitan
    <span class="text-primary">capacidad</span> y
    <span class="text-primary">experiencia</span><br><br>
    Juntos <span class="text-primary">recuperaremos</span> nuestra Universidad.
  </Fragment>
  <div class="grid items-center">
    <a
      href="https://www.facebook.com/WALTER.ARIZAGA.USFX"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current"
    >
      <Icon pack="mdi" name="facebook" class="h-8" />
      <span>Walter Arizaga</span>
    </a>
  </div>
</ContentSection>
