---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Redes Sociales" id="redes">
  <Fragment slot="lead">
    La Universidad <span class="text-primary">que queremos</span>
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 justify-content">
      <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FWALTER.ARIZAGA.USFX%2Fposts%2Fpfbid0BcY9CBZHYtbAACMJxstLT8P1zK4xKDe8DVyWy28WjWKdpoAidekm5nh14iFp8kEzl&width=350&show_text=false&height=611&appId" width="350" height="611" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

      <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FWALTER.ARIZAGA.USFX%2Fposts%2Fpfbid0Y7WRndMeiFDqbTtbE97th59Btzh2vXJFMB7vVwn6UPVW2ffgSKm8xhQVNb5ZXHEDl&width=350&show_text=false&height=649&appId" width="350" height="649" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

      <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FWALTER.ARIZAGA.USFX%2Fposts%2Fpfbid02CE915o4YvpzP917RkgU5AxLn6rFcvhrEydhGURQWYQ3h4E3KyUsGaf2YF4J7ZtRRl&width=350&show_text=false&height=688&appId" width="350" height="688" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
  </div>
</ContentSection>
